{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block body %}
    <div class="container">
        <h1 class="text-danger"><i class="fa fa-unlock-alt" aria-hidden="true"></i> 发生错误403</h1>

        <p class="lead">
            你没有权限访问这个资源.
        </p>
        <p>
            请联系系统管理员给你访问这个资源的权限.
        </p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            返回<a href="{{ path('member') }}" >个人中心</a>
        {% endif %}
    </div>
{% endblock %}
