{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block body %}
    <div class="container">
        <h1 class="text-red">找不到你要的页面</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="lead">返回<a href="{{ path('member') }}" >个人中心</a></p>
        {% endif %}
        <p>
            请检查链接中的拼写错误或者 <a href="{{ path('homepage') }}">返回首页</a>
        </p>
    </div>

{% endblock %}
