{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block body %}
    <div class="container">
        <h1 class="text-danger">发生未知错误:{{ status_code }}</h1>

        <p class="lead">
            有未知错误 (HTTP {{ status_code }}) 阻止你的请求.
        </p>
        <p>
            尝试在几分钟后重新加载此页或者 <a href="{{ path('homepage') }}">返回首页</a>
        </p>
    </div>

{% endblock %}
