{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block body %}
    <div class="container">
        <h1 class="text-danger">发生错误404</h1>

        <p class="lead">
            无法找到请求的页面
        </p>
        <p>
            请检查链接中的拼写错误或者 <a href="{{ path('homepage') }}">返回首页</a>
        </p>
    </div>

{% endblock %}
