{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ contact.content | raw }}
            </div>
        </div>

    </div>
{% endblock %}