<div class="row">
    <div class="card-group">
        {% for product in products %}
        <div class="card">
            <img class="card-img img-responsive" src="{{ product_image }}/{{ product.image }}" />
            <div class="card-title text-center">{{ product.title }}</div>
        </div>
        {% endfor %}
    </div>
</div>