{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        会员个人中心
        <div class="row">会员姓名: {{ member.username }}</div>
        <div class="row">邮箱: {{ member.email }}</div>
        <div class="row">手机号: {{ member.phone }}</div>
    </div>
{% endblock %}