<div class="dropdown-menu" aria-labelledby="navbarDropdownMember">
    <a class="dropdown-item" href="#">我的资料</a>
    <a class="dropdown-item" href="#">我的订单</a>
    <a class="dropdown-item" href="#">我的购物车</a>
    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">退出</a>
</div>
