{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2 class="list-group-flush text-center w-100">我的订单</h2>
            <ul class="list-group list-group-flush w-100">
                {% for trade in trades %}
                    <li class="list-group-item  col-12">
                        <a href="{{ path('view_trade',{'id': trade.id}) }}" >{{ trade.tradeNo }}</a>
                        <span class="float-right">{{ trade.createdAt |date('Y年m月d日') }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}