{{ dump(app.request.requestUri) }}
{% for shape in item.shape %}
    <a href="{{ path('easyadmin', {entity: 'Shape', referer: app.request.requestUri, action: 'show', id: shape.id }) }}">{{ shape }}</a>
{% endfor %}
